.pokemon-card{
    background-color:#982c2c;
    text-align: center;
    padding : 1rem;
    border-radius: 2.5rem;
    margin:1rem;
    width:20%;
}


.pokemon-name{
    color:#f9ccb9;
    font-size:1.2rem;
}