.pokemon-list {
    width:100%;
    display:grid;
    /* justify-content: center;
    align-items: stretch;
    align-content:stretch;
    flex-wrap:wrap; */
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}